.chess-board{
   width: 35vw;
   height: 35vw;
   margin: auto;
  
}
.user-nickname{
   background-color:#20201E;
   color:white;
   font-weight: bolder;
   padding: 8px;
}
.content-row{
   display: flex;
   flex-direction: row;
   gap:16px;
}
.first-section{
   display: flex;
   flex-direction: column;
   gap:16px;
}
.second-section{
   display: flex;
   flex-direction: column;
   background-color:#20201E;
   width: 20vw;
}
.second-section-header{
   word-break: break-all;
   padding: 8px;
   color:white;
   font-weight: bolder;
   text-align: center;
 
}
.second-section-main{
   max-height: 30vw;
   overflow-y:scroll;
}
.second-section-footer{
   margin-top: auto;
   display: flex;
   justify-content: center;
   background-color: red;
}
.move-pawn-row{
   display: flex;
   flex-direction: row;
   color:white;
   font-weight: bolder;
   text-align: center;
}
.column{
   width: 33%;
   word-break: break-all;
}
.text-center{
   text-align: center;
   justify-content: center;
}
.btn-text{
   word-break:keep-all;
   
}