.content{
    background-color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:32px;
    padding: 32px;
    flex-grow: 1;
}
.chess-piece-info{
    border-radius: 16px;

    color: white;
    display: flex;
    flex-direction: row;
    width: clamp(20vw,60vw,300rem);
    background-color: #20201E;
    padding: 50px;
    transition:  0.5s ease;
}
.chess-piece-info:hover{
    scale: 1.05;
}
.piece{
    background-color: #272727;
    padding: 20px;
    border-radius: 20px;
}
.piece-img{
    width: 100px;
}
.piece-text{
    justify-self: center;
}
.piece-header{
    justify-self: center;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.piece-main-text{
    
}
.App{
    display: flex;
}
body{
    background-color: #272727;

}
.app-nav{
    display: flex;
    position: sticky;
    top:0;
    flex-direction: column;
    background-color: #20201E;
    min-height: 100vh;
    height: 100%;
    width: 15rem;
}
.logo{
    padding: 16px;
}
.img-logo{
    width: 100%;
    height: auto;
    /* scale: 0.8; */
}
.btn-img{
    height: 32px;
}
.nav-btn{
    width: 100%;
    display: flex;
    background-color: #20201E;
    border:none;
    color:white;
    align-items: center;
    height: 5vh;
    font-size:1.5rem;
    padding:32px;
    gap:32px;
}
.account-input{
    width: 100%;
    background-color: #2c2c2a;
    border:none;
    color:white;
    height: 2vh;
    font-size:1.5rem;
    padding:16px;

}
.account-text{
    width: 100%;
    display: flex;
    border:none;
    color:white;
    align-items: center;
    height: 2vh;
    font-size:1.5rem;
    padding: 32px 32px 32px 32px;
    white-space: nowrap;
}
.account-btn{
    margin-top:16px;
    padding-left: 32px;
}

.nav-btn:hover{
    background-color: #2d2d2c;
    cursor: pointer;
}
.option{
    background-color:#1d1d1b;
    height: 100%;
    position: fixed;
    left: 15rem;
    transition: 0.5s ease;
    overflow-x: hidden;
    padding-top: 3rem;
    z-index: 100;
    
}
.slide-btn-text{
    white-space: nowrap;
    font-size: 1.2rem;
}
.game-options{
    display: flex;
    color: white;
    font-size: 2.2rem;
    white-space: nowrap;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}
.freind-invate{
    display: flex;
    gap:2rem;
    width:50rem;
}
.option-btn{
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 600;
    background-color: #C26833;
    color: white;
    border: none;
}
.option-btn:hover{
    background-color: #9c5328;
    color: rgb(192, 192, 192);
}
.friend-select{
    width: 20rem;
    border-radius: 1rem;
}
.invate-status{
    font-size: 1rem;
    text-align: left;
}
.option-elements{
    gap:2rem;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}
.logedAs{
    color: white;
    font-size: 1.5rem;
    margin-top:auto;
}
.logedAs p{
    font-weight: 800;
    color: #C26833;
}